:host {
  display: contents;
}

.ui.card {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
}

.ui.placeholder {
  border-radius: 0px !important;
}

#textPanel {
  flex-grow: 1;
  overflow-y: auto;
}

#versionDropdown, #folderButton {
  max-width: min-content;
}

#chartDropdown {
  min-height: min-content;
  margin: 0px;
}

::ng-deep #chartDropdownMenu > div.item {
  white-space: normal;
  word-break: break-word;
}

#sourceLinks {
  display: flex;
}

#sourceLink {
  align-self: center;
  flex-grow: 1;
}

#chartDropdownIcon, #versionDropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui.horizontal.list>.item {
  margin-right: 12px;
}

.ui.divider {
  margin: 4px 0;
}

#downloadButton {
  width: min-content;
  margin: 0px 1px 1px 1px;
}

#versionDropdown {
  margin: 0px 1px 1px -3px;
}
