<div class="border-t border-t-neutral p-2 flex gap-2 items-center">
	<div *ngIf="searchService.songsResponse">
		{{ searchService.songsResponse.found }} Result{{ searchService.songsResponse.found === 1 ? '' : 's' }}
	</div>
	<div class="flex-1">
		<button *ngIf="selectedGroupIds.length > 1" (click)="downloadSelected()" class="btn btn-sm btn-primary">
			Download {{ selectedGroupIds.length }} Results
		</button>
	</div>
	<button *ngIf="downloading" (click)="showDownloads()" class="btn btn-sm btn-ghost w-[30vw]">
		<progress [value]="percent" max="100" class="progress h-3 rounded-md" [class.progress-error]="error"></progress>
	</button>

	<div id="downloadsModal" class="ui modal">
		<i class="inside close icon"></i>
		<div class="header">
			<span>Downloads</span>
			<div *ngIf="multipleCompleted" class="ui positive compact button" (click)="clearCompleted()">Clear completed</div>
		</div>
		<div class="scrolling content">
			<app-downloads-modal></app-downloads-modal>
		</div>
	</div>
</div>
