<div class="border-t border-t-neutral p-2 flex gap-2 items-center">
	<div *ngIf="searchService.songsResponse">
		{{ searchService.songsResponse.found }} Result{{ searchService.songsResponse.found === 1 ? '' : 's' }}
	</div>
	<div class="flex-1">
		<button *ngIf="selectedGroupIds.length > 1" (click)="downloadSelected()" class="btn btn-sm btn-primary">
			Download {{ selectedGroupIds.length }} Results
		</button>
	</div>
	<button *ngIf="downloadService.downloadCount > 0" (click)="downloadsModal.showModal()" class="btn btn-sm btn-ghost w-[30vw]">
		<progress
			[attr.value]="downloadService.totalDownloadingPercent"
			max="100"
			class="progress h-3 rounded-md"
			[class.progress-error]="downloadService.anyErrorsExist"></progress>
	</button>

	<dialog #downloadsModal class="modal whitespace-normal">
		<div class="modal-box bg-base-100 text-base-content flex flex-col gap-2 w-9/12 max-w-7xl min-h-0 overflow-y-clip">
			<app-downloads-modal />
		</div>
		<form method="dialog" class="modal-backdrop">
			<button>close</button>
		</form>
	</dialog>
</div>
