:host {
  flex: 1;
  padding: 2em;
  overflow-y: scroll;
}

.default-cursor {
  cursor: default;
  pointer-events: none;
}

#rateLimitInput {
  width: unset !important;
}

.bottom {
  position: absolute;
  bottom: 2em;
  right: 2em;
}