:host {
  display: contents;
}

.two.column.grid {
  display: contents;
  margin: 0;
}

#table-row {
  flex-grow: 1;
  min-height: 0;
  flex-wrap: nowrap;
  box-shadow: none;
}

#table-column {
  overflow-y: auto;
  padding: 0;
}

#sidebar-column {
  display: flex;
  min-width: 175px;
  overflow: hidden;
  padding: 0;
}
