<app-search-bar (resultsUpdated)="onResultsUpdated($event)"></app-search-bar>
<div class="ui celled two column grid">
  <div id="table-row" class="row">
    <div id="table-column" class="column twelve wide">
      <app-result-table
        #resultTable
        (rowClicked)="chartSidebar.onRowClicked($event)"
        (songChecked)="statusBar.onSongChecked($event)"
        (songUnchecked)="statusBar.onSongUnchecked($event)"
      ></app-result-table>
    </div>
    <div id="sidebar-column" class="column four wide">
      <app-chart-sidebar #chartSidebar></app-chart-sidebar>
    </div>
  </div>
</div>
<app-status-bar #statusBar (deselectSongs)="resultTable.onSongsDeselected($event)"></app-status-bar>