/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-icons/font/bootstrap-icons.css';

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number'] {
	-webkit-appearance: none;
	margin: 0;
	-moz-appearance: textfield !important;
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

.dropdown:not(:hover):not(:focus):not(:focus-within):not(.dropdown-open) .dropdown-content {
	height: 0px;
}
