<div class="ui bottom attached borderless menu">
  <div class="item">
    <!-- TODO: add advanced search -->
    <div class="ui icon input" [class.loading]="isLoading()">
      <input #searchBox type="text" placeholder=" Search..." (keyup.enter)="onSearch(searchBox.value)">
      <i id="searchIcon" class="link icon" [ngClass]="isError ? 'red exclamation triangle' : 'search'"
        data-content="Failed to connect to the Bridge database" data-position="bottom right"></i>
    </div>
  </div>
  <!-- <div #typeDropdown class="ui item dropdown">
    Type <i class="dropdown icon"></i>
    <div class="menu">
      TODO: revise what items are displayed
      <a class="item">Any</a>
      <a class="item">Name</a>
      <a class="item">Artist</a>
      <a class="item">Album</a>
      <a class="item">Genre</a>
      <a class="item">Year</a>
      <a class="item">Charter</a>
    </div>
  </div> -->
  <!-- TODO <div class="item right">
    <button class="ui positive disabled button">Bulk Download</button>
  </div> -->
</div>