<div class="ui bottom borderless menu">
  <div *ngIf="resultCount > 0" class="item">{{resultCount}} Result{{resultCount == 1 ? '' : 's'}}</div>
  <div class="item">
    <button *ngIf="selectedResults.length > 0" (click)="downloadSelected()" class="ui positive button">Download Selected</button>
  </div>
  <a *ngIf="downloading" class="item right" (click)="showDownloads()">
    <div #progressBar appProgressBar [percent]="percent" class="ui progress">
      <div class="bar">
        <div class="progress"></div>
      </div>
    </div>
  </a>

  <div id="downloadsModal" class="ui modal">
    <i class="inside close icon"></i>
    <div class="header">Downloads</div>
    <div class="scrolling content">
      <app-downloads-modal></app-downloads-modal>
    </div>
  </div>
</div>