:host {
  display: contents;
}

.ui.checkbox {
  display: block;
}

#checkboxColumn {
  width: 34.64px;
}

#resultTable {
  border-radius: 0px;

  thead>tr:first-child>th:first-child,
  thead>tr:first-child>th:last-child {
    border-radius: 0px;
  }
}