:host {
  display: contents;
}

.ui.card {
  display: flex;
  flex-direction: column;
}

#textPanel {
  flex-grow: 1;
  overflow-y: auto;
}

#versionDropdown {
  max-width: min-content;
}

#chartDropdown {
  min-height: min-content;
}

::ng-deep #chartDropdownMenu > div.item {
  white-space: normal;
  word-break: break-word;
}

#chartDropdownIcon, #versionDropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#downloadButton {
  width: min-content;
}