<div class="ui fluid card">
  <div class="ui placeholder">
    <div class="square image"></div>
  </div>
  <div class="ui fluid selection dropdown">
    <input type="hidden" name="Chart">
    <i class="dropdown icon"></i>
    <div class="default text">Chart</div>
    <div class="menu">
      <div class="item" data-value="1">Chart 1</div>
      <div class="item" data-value="0">Chart 2</div>
    </div>
  </div>
  <div id="textPanel" class="content">
    <span class="header">Funknitium-99</span>
    <div class="meta">
      <span>Fearofdark</span>
    </div>
  </div>
  <div class="ui positive buttons">
    <div class="ui button">Download Latest</div>
    <div id="versionButton" class="ui floating dropdown icon button">
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Version 1</div>
        <div class="item">Version 2</div>
        <div class="item">Version 3</div>
      </div>
    </div>
  </div>
</div>