<div *ngIf="selectedVersion" class="ui fluid card">
  <div class="ui placeholder" [ngClass]="{'placeholder': !albumArtBuffer}">
    <img class="ui square image" [src]="getAlbumArtSrc()">
  </div>
  <div *ngIf="charts.length > 1" id="chartDropdown" class="ui fluid selection dropdown">
    <input type="hidden" name="Chart">
    <i class="dropdown icon"></i>
    <div class="default text">Chart</div>
    <div class="menu">
      <div class="item" data-value="1">
        <h4 class="ui header">Chart1</h4>
        <div>row2</div>
      </div>
      <div class="item" data-value="0">Chart 2</div>
    </div>
  </div>
  <div id="textPanel" class="content">
    <span class="header">{{selectedVersion?.avTagName}}</span>
    <div class="description">
      <div><b>{{charterPlural}}</b> {{selectedVersion?.charters}}</div>
      <div *ngIf="selectedVersion?.tags"><b>Tags:</b> {{selectedVersion.tags}}</div>
      <div><b>Audio Length:</b> {{getSongLength()}}</div>
      <!-- TODO: add difficulty icons -->
    </div>

  </div>
  <div class="ui positive buttons">
    <div class="ui button" (click)="onDownloadClicked()">Download{{getVersions().length > 1 ? ' Latest' : ''}}</div>
    <div *ngIf="getVersions().length > 1" id="versionDropdown" class="ui floating dropdown icon button">
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Version 1</div>
        <div class="item">Version 2</div>
        <div class="item">Version 3</div>
      </div>
    </div>
  </div>
</div>