<div class="ui top menu">
  <a class="item" routerLinkActive="active" routerLink="/browse">Browse</a>
  <a class="item" routerLinkActive="active" routerLink="/library">Library</a>
  <a class="item" routerLinkActive="active" routerLink="/settings">Settings</a>
  <a class="item" routerLinkActive="active" routerLink="/about"><i class="teal small circle icon"></i>About</a>

  <div class="right menu">
    <a class="item traffic-light" (click)="minimize()"><i class="minus icon"></i></a>
    <a class="item traffic-light" (click)="toggleMaximized()"><i class="icon window" [ngClass]="isMaximized ? 'restore' : 'maximize'"></i></a>
    <a class="item traffic-light close" (click)="close()"><i class="x icon"></i></a>
  </div>
</div>