<div class="navbar p-0 min-h-0 bg-base-100" style="-webkit-app-region: drag">
	<div style="-webkit-app-region: no-drag">
		<button class="btn btn-ghost rounded-none" routerLinkActive="btn-active" routerLink="/browse">Browse</button>
		<button class="btn btn-ghost rounded-none flex flex-nowrap" routerLinkActive="btn-active" routerLink="/settings">
			<i *ngIf="updateAvailable === 'error'" class="bi bi-exclamation-triangle-fill text-warning"></i>
			Settings
			<div *ngIf="updateAvailable === 'yes'" class="badge badge-accent badge-sm">Update Available</div>
		</button>
	</div>
	<div class="flex-1"></div>
	<div style="-webkit-app-region: no-drag">
		<button class="btn btn-square btn-ghost rounded-none cursor-default" (click)="minimize()"><i class="bi bi-dash-lg"></i></button>
		<button class="btn btn-square btn-ghost rounded-none cursor-default" (click)="toggleMaximized()">
			<i class="bi" [ngClass]="isMaximized ? 'bi-window-stack' : 'bi-window'"></i>
		</button>
		<button class="btn btn-square btn-ghost rounded-none hover:bg-red-600/20 cursor-default" (click)="close()">
			<i class="bi bi-x-lg"></i>
		</button>
	</div>
</div>
