body {
  background-color: #222222;
}

/* Text Color */
.ui.menu .item,
.ui.header,
.ui.form .field>label,
.ui.input input,
.ui.button,
div {
  color: #CCCCCC !important;
}

/* Toolbar */

.ui.menu, .menu>.item.traffic-light {
  background-color: #303030 !important;
}

.ui.menu .active.item:hover {
  background-color: #222222;
}

.ui.menu .active.item {
  background-color: #222222 !important;
}

.ui.menu .item:hover {
  background: rgba(0, 0, 0, .1) !important;
}

.ui.menu .close:hover {
  background: rgba(255, 0, 0, .15) !important;
}

/* Settings Page */
.ui.input input {
  background-color: #555555 !important;
}

.ui.label, .ui.basic.label {
  background-color: #555555;
}

.ui.button,
.ui.basic.button {
  background-color: #444444;
}

.ui.positive.button {
  background-color: transparent;
  color: #16ab39 !important;
  box-shadow: 0 0 0 2px #16ab39 inset !important;
}

.ui.positive.button:hover {
  color: #222222 !important;
}

.ui.button:hover,
.ui.basic.button:hover,
.ui.basic.button:active,
.ui.basic.button:focus {
  background-color: #666666;
}

.ui.selection, .menu>.item {
  background-color: #555555 !important;
}

.ui.selection.dropdown:focus,
.ui.selection.dropdown:hover,
.ui.selection.active.dropdown,
.ui.selection.dropdown .menu,
.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown .menu:active,
.ui.selection.dropdown .menu>.item,
input:active,
.ui[class*="right labeled"].input>input:focus {
  border-color: #7E8388 !important;
}

input[type=number]::-webkit-inner-spin-button {
  background-color: #FF0000;
}

.ui.warning.message {
  background-color: #333333;
  box-shadow: 0 0 0 1px #7E8388 inset,
  0 0 0 0 transparent;
}

.ui.selection.dropdown .menu>.item.selected {
  background-color: #222222 !important;
}